body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 20px;
  transform: scale(1.5);
  transform-origin: top;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  display:inline-block;
  padding: 5px 10px 5px 10px;
  font-weight: 700;
  margin-bottom: 10px;
  background-color: #ededed;
  vertical-align: middle;
  border-radius: 9999px;
}

.square {
  background: #777777;
  border: 1.5px solid rgb(255, 255, 255);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: white;
  border-radius: 20%;
  transition: 0.2s;
}

.square:hover{
  background-color: #b8b8b8;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 385px;
}

.game-info {
  min-width: 275px;
  margin-left: 1em;
  margin-right: 1em;
}

.game-board {
  min-width: 110px;
  margin-left: 40%;
}

.move-elements {
  padding-top: 0.2em;
}

button {
  background-color: #ededed;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  transition: 0.2s;
}

.order-button {
  background: #777777;
  color: white;
  font-weight: 600;
  width: 7.5em;
  margin-bottom: 0.3em;
}

.order-button:hover{
  background-color: #989898;
}

li{
  padding: 0.1em;
}
button:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.player-status, .coordinates{
  font-weight: 600;
  color: white;
  padding: 0.15em 0.25em 0.15em 0.25em;
  /* padding: 1.5px 2.5px 1.5px 2.5px; */
  border-radius: 25%;
  background-color: #777777;
}

.player-status{
  display: inline-block;
  width: 1em;
  text-align: center;
}


.status-div{
  height: 2.5em;
  margin-bottom: 0.5em;
}

.status:hover{
  cursor: default;
  background-color: #f6f6f6;
}

.next-player{
  font-weight: 700;
}

.coordinates{
  background-color: #f39a71;
  border-radius: 7px;
}

.display-winner, .display-draw{
transition: 0.2s;
}

.display-winner{
  background-color: rgb(178, 250, 127);
}

.display-draw{
  background-color: rgb(160, 208, 255);
}

.winner-squares{
  background-color: rgb(178, 250, 127);
  color:rgb(73, 111, 46);
}

.winner-squares:hover{
  background-color: rgb(214, 255, 185);
}